#左側にプロフィール画像
<div>
  <p><%= @user.name %>&emsp;<%= "プロフィールを編集" %></p>
  <p><%= @user.address %></p>
  <p>投稿数&emsp;投稿する</p>
  <p>質問数&emsp;質問する</p>
  <p>フォロー数</p>
  <p>フォロワー数</p>
</div>

<p>Find me in app/views/public/users/show.html.erb</p>
